<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    {% if cu.status=="Registered" %}
    <div class="alert alert-info mt-5 ms-5 me-5" role="alert">
        Your account is pending approval. Please wait for the admin to review your application.
    </div>

    {% elif cu.status=="Rejected" %}
    <div class="alert alert-danger ms-5 me-5 mt-5" role="alert">
        Your account has been rejected.
    </div>
    {% elif cu.status=="Flagged" %}
    <div class="alert alert-danger ms-5 me-5 mt-5" role="alert">
        Your account has been flagged.
    </div>
    {% elif cu.status=="Active" %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">HomeEase</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto me-5">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="nav-link" href="#">Search</a>
                    </li>
                    <li class="nav-item ">
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle fs-4"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="/logout">logout</a></li>

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger ms-5 mt-5 me-5" role="alert">
        <div class="d-flex">
            <p>
                {{ message }}
            </p>

            <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>

        </div>

    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card mt-5 ms-5 me-5">
        <div class="card-header">
            <div class="d-flex d-inline">
                <h3>Packages</h3>

                <a type="button" class="btn btn-primary ms-auto" data-bs-toggle="modal"
                    data-bs-target="#addPackageModal">
                    Add Package
                </a>

                <!-- Modal -->
                <div class="modal fade" id="addPackageModal" tabindex="-1" aria-labelledby="addPackageModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="addPackageModalLabel">Add Package</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="/professional/add_package">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" required
                                            placeholder="Package Title" name="title">
                                        <label for="floatingInput">Package Title</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingDescription" required
                                            placeholder="Description" name="description">
                                        <label for="floatingDescription">Description</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="floatingPrice" required
                                            placeholder="Price" name="price">
                                        <label for="floatingPrice">Price</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="date" class="form-control" id="floatingStartDate" required
                                            placeholder="Start Date" name="start_date" min="{{today}}">
                                        <label for="floatingStartDate">Start Date</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="date" class="form-control" id="floatingEndDate" required
                                            placeholder="End Date" name="end_date">
                                        <label for="floatingEndDate">End Date</label>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Add Package</button>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="row ">
                {% for package in packages %}
                <div class="col-3 ">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ package.title }}</h5>
                            <p class="card-text">{{ package.description }}</p>
                            <p class="card-text"><strong>Price:</strong> ${{ package.price }}</p>
                            <p class="card-text"><strong>Start Date:</strong> {{ package.start_date }}</p>
                            <p class="card-text"><strong>End Date:</strong> {{ package.end_date }}</p>
                            <a type="button" class="btn btn-primary ms-auto" data-bs-toggle="modal"
                                data-bs-target="#editpack{{ package.id }}">
                                Edit Package
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="editpack{{ package.id }}" tabindex="-1"
                                aria-labelledby="addPackageModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="addPackageModalLabel">Edit Package</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="/professional/edit_package/{{ package.id }}">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="floatingInput" required
                                                        value="{{package.title}}" placeholder="Package Title"
                                                        name="title">
                                                    <label for="floatingInput">Package Title</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="floatingDescription"
                                                        required placeholder="Description" name="description"
                                                        value="{{package.description}}">
                                                    <label for="floatingDescription">Description</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="number" class="form-control" id="floatingPrice"
                                                        required placeholder="Price" name="price"
                                                        value="{{package.price}}">
                                                    <label for="floatingPrice">Price</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="date" class="form-control" id="floatingStartDate"
                                                        required placeholder="Start Date" name="start_date"
                                                        value="{{package.start_date}}">
                                                    <label for="floatingStartDate">Start Date</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="date" class="form-control" id="floatingEndDate"
                                                        required placeholder="End Date" name="end_date"
                                                        value="{{package.end_date}}">
                                                    <label for="floatingEndDate">End Date</label>
                                                </div>

                                                <button type="submit" class="btn btn-primary">Update Package</button>

                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


            </div>

        </div>
    </div>
    <div class="card mt-5 ms-5 me-5 mb-5">
        <div class="card-header">
            <h3>Bookings</h3>

        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-accepted-bookings-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-accepted-bookings" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">Accepted</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-requested-bookings-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-requested-bookings" type="button" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Requested</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-completed-bookings-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-completed-bookings" type="button" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Completed/Rejected</button>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-accepted-bookings" role="tabpanel"
                    aria-labelledby="pills-accepted-bookings-tab" tabindex="0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Package Title</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Customer Email</th>
                                <th scope="col">Customer Mobile</th>
                                <th scope="col">Price</th>
                                <th scope="col">Date</th>
                                <th scope="col">time</th>
                                <th scope="col">Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                            {% if booking.status =="Accepted" %}
                            <tr>

                                <td>{{ booking.package.title }}</td>
                                <td>{{booking.customer.name}}</td>
                                <td>{{booking.customer.email}}</td>
                                <td>{{booking.customer.mobile}}</td>
                                <td>{{ booking.package.price }}</td>
                                <td>{{ booking.date }}</td>
                                <td>{{ booking.start_time }}</td>
                                <td>{{ booking.status }}</td>


                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
                <div class="tab-pane fade" id="pills-requested-bookings" role="tabpanel"
                    aria-labelledby="pills-requested-bookings-tab" tabindex="0">
                    <table class="table">
                        <thead>
                            <th scope="col">Package Title</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Customer Email</th>
                            <th scope="col">Customer Mobile</th>
                            <th scope="col">Price</th>
                            <th scope="col">Date</th>
                            <th scope="col">time</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                            {% if booking.status =="Requested" %}
                            <tr>

                                <td>{{ booking.package.title }}</td>
                                <td>{{booking.customer.name}}</td>
                                <td>{{booking.customer.email}}</td>
                                <td>{{booking.customer.mobile}}</td>
                                <td>{{ booking.package.price }}</td>
                                <td>{{ booking.date }}</td>
                                <td>{{ booking.start_time }}</td>
                                <td>{{ booking.status }}</td>
                                <td>
                                    <a href="/professional/accept/{{ booking.id }}"
                                        class="btn btn-sm btn-success">Accept</a>
                                    <a href="/professional/reject/{{ booking.id }}"
                                        class="btn btn-sm btn-danger">Reject</a>

                            </tr>

                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>


                </div>
            </div>
            <div class="tab-pane fade" id="pills-completed-bookings" role="tabpanel"
                aria-labelledby="pills-completed-bookings-tab" tabindex="0">
                <table class="table">
                    <thead>
                        <th scope="col">Package Title</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Customer Email</th>
                        <th scope="col">Customer Mobile</th>
                        <th scope="col">Price</th>
                        <th scope="col">Date</th>
                        <th scope="col">time</th>
                        <th scope="col">Status</th>

                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        {% if booking.status =="Completed" or booking.status=="Rejected" %}
                        <tr>

                            <td>{{ booking.package.title }}</td>
                            <td>{{booking.customer.name}}</td>
                            <td>{{booking.customer.email}}</td>
                            <td>{{booking.customer.mobile}}</td>
                            <td>{{ booking.package.price }}</td>
                            <td>{{ booking.date }}</td>
                            <td>{{ booking.start_time }}</td>
                            <td>{{ booking.status }}</td>


                        </tr>

                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>


    </div>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>